.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}


.nav-cost-div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%
}

li{
  list-style: none;
}